@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;0,700;1,600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 26px;

  /* Colors */
  --color-white: #fff;
  --blue: #137ce7;
  --color-gray: #071320;
  --color-mediumseagreen: #1fb488;
  --deep-blue: #0b366b;
  --color-steelblue: #658aaf;

  /* Gaps */
  --gap-3xs: 4px;
  --gap-2xs: 8px;
  --gap-xs: 10px;
  --gap-sm: 12px;
  --gap-md: 14px;
  --gap-lg: 20px;
  --gap-xl: 24px;
  --gap-2xl: 32px;

  /* Paddings */
  --padding-2xs: 6px;
  --padding-xs: 8px;
  --padding-sm: 10px;
  --padding-md: 18px;
  --padding-lg: 20px;
  --padding-xl: 24px;
  --padding-2xl: 32px;

  /* border radiuses */
  --br-2xs: 4px;
  --br-xs: 6px;
  --br-sm: 10px;
  --br-md: 41px;
  --br-lg: 100px;
  --br-xl: 200px;
}
